<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Card 01</title>
</head>
<body>
   
        
        <!-- container -->
        <div class="container mx-auto sm:w-2/3 m-10 p-5 sm:p-10 bg-gray-100">
           
            <!-- card -->
            <div class="m-10 p-5 rounded-xl drop-shadow-2xl bg-white sm:w-2/5 mx-auto">
                <div class="flex justify-between">
                    <span class="text-4xl float-left">🤝</span>
                    <span class="text-md float-right p-2 bg-blue-500 rounded-xl text-white">v.01</span>
                </div>
                
                <div class="text-4xl font-bold py-3">Lorem</div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipiscing elite.
                </div>
            </div>
            
            <!-- end of card -->
            
           
        </div>
        <!-- end of container -->
    
</body>
</html>