<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Card 02</title>
</head>
<body>
   
        
        <!-- container -->
        <div class="container mx-auto sm:w-2/3 m-10 p-5 sm:p-10 bg-gray-100">
           
            <!-- card -->
            <div class="m-10  rounded-xl drop-shadow-2xl bg-white sm:w-2/5 mx-auto">
                <div>
                    <img src="./images/panorama.png" alt="panorama" >
                </div>
                
                <div class="text-3xl font-bold px-3 text-gray-900">Prague City</div>
                <div class="text-lg text-justify p-3 text-gray-700">
                    Prague City Panorama with Famous Charles Bridge. Photo by <a href="https://twitter.com/viktorhanacek" target="_blank" class="font-bold"> Viktor Hanacek</a>.
                </div>
            </div>
            
            <!-- end of card -->
            
           
        </div>
        <!-- end of container -->
    
</body>
</html>