<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Card 03</title>
</head>
<body>
   
        
        <!-- container -->
        <div class="container mx-auto sm:w-2/3 m-10 p-5 sm:p-10 bg-gray-200">
           
            <!-- card -->
            <div class="m-10 rounded-xl border-4 border-black bg-blue-100 sm:w-2/5 mx-auto p-2 ">
                <div>
                    <img src="./images/bts.jpg" alt="bts" class="rounded-xl" >
                </div>
                
                <div class="text-3xl font-bold px-3 text-gray-900 text-center">.boyband</div>
                <div class="text-lg text-center p-3 text-gray-700">
                    "A boy band is loosely defined as a vocal group consisting of young male singers, usually in their teenage years or in their twenties at the time of formation, singing love songs marketed towards girls."
                </div>
                <div >
                    
                    <span class="flex justify-center p-2 text-center uppercase font-bold ">popularity: ✅✅✅✅</span>
                    
                    <span class="flex justify-center p-2 text-center uppercase font-bold">Price: 70,000 HNS</span>
                </div>
                <div>
                    <button class="uppercase tracking-widest p-2 bg-green-400 rounded-xl border-4 border-black font-bold w-full">buy this #HNS domain</button>
                </div>
            </div>
            
            <!-- end of card -->
            
           
        </div>
        <!-- end of container -->
    
</body>
</html>