<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Button 05</title>
</head>
<body>
    <div class="container mx-auto m-10 p-10 bg-gray-900 ">
        <div class="font-bold text-white text-center m-5 text-3xl">Button 05</div>
        <!-- container -->
        <div class="container mx-auto sm:flex justify-center">
            <!-- send -->
            <div class="m-5">
                <button type='submit' class="bg-gray-900 hover:bg-gray-800 drop-shadow-2xl text-emerald-500 border-2 border-emerald-500 rounded py-2 px-4 text-xl  w-40">create</button>
            </div>
           <!-- end of send -->

            <!-- read -->
            <div class="m-5">
                <button type='submit' class="bg-gray-900 hover:bg-gray-800 drop-shadow-2xl text-yellow-500 border-2 border-yellow-500 py-2 px-4 text-xl rounded w-40">read</button>
            </div>
           <!-- end of read -->

            <!-- update -->
            <div class="m-5">
                <button type='submit' class="bg-gray-900 hover:bg-gray-800 drop-shadow-2xl text-blue-500 border-2 border-blue-500 py-2 px-4 text-xl rounded w-40">update</button>
            </div>
           <!-- end of update -->

           <!-- delete -->
           <div class="m-5">
            <button type='submit' class="bg-gray-900 hover:bg-gray-800 drop-shadow-2xl text-red-500 border-2 border-red-500 py-2 px-4 text-xl rounded w-40">delete</button>
        </div>
       <!-- end of delete -->
           
        </div>
        <!-- end of container -->
    </div>
</body>
</html>