<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Button 06</title>
</head>
<body>
    <div class="container mx-auto m-10 p-10 bg-gray-100 ">
        <div class="font-bold text-black text-center m-5 text-3xl">Button 06</div>
        <!-- container -->
        <div class="container mx-auto sm:flex justify-center">
            <!-- create -->
            <div class="m-5">
                <a href="#" class="relative inline-block group focus:outline-none focus:ring">
                    <span class="absolute w-40 inset-0 transition-transform translate-x-1.5 translate-y-1.5 bg-emerald-500 group-hover:translate-y-0 group-hover:translate-x-0 rounded"></span>
                    <span type='submit' class="text-center relative inline-block bg-gray-100 tracking-widest  drop-shadow-2xl text-emerald-500 border-2 border-emerald-500 rounded py-2 px-4 text-xl uppercase w-40 group-active:text-opacity-75">create</span>
                </a>
            </div>
           <!-- end of create -->

            <!-- read -->
            <div class="m-5">
                <a href="#" class="relative inline-block group focus:outline-none focus:ring">
                    <span class="absolute w-40 inset-0 transition-transform translate-x-1.5 translate-y-1.5 bg-orange-500 group-hover:translate-y-0 group-hover:translate-x-0 rounded"></span>
                    <span type='submit' class="text-center relative inline-block bg-gray-100 tracking-widest  drop-shadow-2xl text-orange-500 border-2 border-orange-500 rounded py-2 px-4 text-xl uppercase w-40 group-active:text-opacity-75">read</span>
                </a>
            </div>
           <!-- end of read -->

            <!-- update -->
            <div class="m-5">
                <a href="#" class="relative inline-block group focus:outline-none focus:ring">
                    <span class="absolute w-40 inset-0 transition-transform translate-x-1.5 translate-y-1.5 bg-blue-500 group-hover:translate-y-0 group-hover:translate-x-0 rounded"></span>
                    <span type='submit' class="text-center relative inline-block bg-gray-100 tracking-widest  drop-shadow-2xl text-blue-500 border-2 border-blue-500 rounded py-2 px-4 text-xl uppercase w-40 group-active:text-opacity-75">update</span>
                </a>
            </div>
           <!-- end of update -->

           <!-- delete -->
           <div class="m-5">
            <a href="#" class="relative inline-block group focus:outline-none focus:ring">
                <span class="absolute w-40 inset-0 transition-transform translate-x-1.5 translate-y-1.5 bg-red-500 group-hover:translate-y-0 group-hover:translate-x-0 rounded"></span>
                <span type='submit' class="text-center relative inline-block bg-gray-100 tracking-widest  drop-shadow-2xl text-red-500 border-2 border-red-500 rounded py-2 px-4 text-xl uppercase w-40 group-active:text-opacity-75">delete</span>
            </a>
        </div>
       <!-- end of delete -->
           
        </div>
        <!-- end of container -->
    </div>
</body>
</html>