<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Button 04</title>
</head>
<body>
    <div class="container mx-auto m-10 p-10 bg-indigo-100 ">
        <div class="font-bold text-center m-5 text-3xl">Button 04</div>
        <!-- container -->
        <div class="container mx-auto sm:flex justify-center">
            <!-- send -->
            <div class="m-5">
                <button type='submit' class="bg-emerald-600 hover:bg-emerald-500 drop-shadow-2xl text-white rounded py-2 px-4 text-xl  w-40">create</button>
            </div>
           <!-- end of send -->

            <!-- read -->
            <div class="m-5">
                <button type='submit' class="bg-yellow-600 hover:bg-yellow-500 drop-shadow-2xl text-white py-2 px-4 text-xl rounded w-40">read</button>
            </div>
           <!-- end of read -->

            <!-- update -->
            <div class="m-5">
                <button type='submit' class="bg-blue-600 hover:bg-blue-500 drop-shadow-2xl text-white py-2 px-4 text-xl rounded w-40">update</button>
            </div>
           <!-- end of update -->

           <!-- delete -->
           <div class="m-5">
            <button type='submit' class="bg-red-600 hover:bg-red-500 drop-shadow-2xl text-white py-2 px-4 text-xl rounded w-40">delete</button>
        </div>
       <!-- end of delete -->
           
        </div>
        <!-- end of container -->
    </div>
</body>
</html>