<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Button 03</title>
</head>
<body>
    <div class="container mx-auto m-10 p-10 bg-gray-100 ">
        <div class="font-bold text-center m-5 text-3xl">Button 03</div>
        <!-- container -->
        <div class="container mx-auto sm:flex justify-center">
            <!-- send -->
            <div class="m-5">
                <button type='submit' class="bg-gradient-to-r from-cyan-300 to-green-500  py-2 px-4 text-3xl rounded-2xl w-40">create</button>
            </div>
           <!-- end of send -->

            <!-- read -->
            <div class="m-5">
                <button type='submit' class="bg-gradient-to-r from-yellow-300 to-orange-500  py-2 px-4 text-3xl rounded-2xl w-40">read</button>
            </div>
           <!-- end of read -->

            <!-- update -->
            <div class="m-5">
                <button type='submit' class="bg-gradient-to-r from-blue-300 to-blue-500   py-2 px-4 text-3xl rounded-2xl w-40">update</button>
            </div>
           <!-- end of update -->

           <!-- delete -->
           <div class="m-5">
            <button type='submit' class="bg-gradient-to-r from-pink-400 to-red-500  py-2 px-4 text-3xl rounded-2xl w-40">delete</button>
        </div>
       <!-- end of delete -->
           
        </div>
        <!-- end of container -->
    </div>
</body>
</html>