<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Button 02</title>
</head>
<body>
    <div class="container mx-auto m-10 p-10 bg-gray-100 ">
        <div class="font-bold text-center m-5 text-3xl">Button 02</div>
        <!-- container -->
        <div class="container mx-auto sm:flex justify-center">
            <!-- send -->
            <div class="m-5">
                <button type='submit' class=" bg-green-400 hover:bg-green-500 py-2 px-4 text-3xl w-40 border-4 border-black">create</button>
            </div>
           <!-- end of send -->

            <!-- read -->
            <div class="m-5">
                <button type='submit' class=" bg-yellow-400 hover:bg-yellow-500 py-2 px-4 text-3xl w-40 border-4 border-black">read</button>
            </div>
           <!-- end of read -->

             <!-- update -->
             <div class="m-5">
                <button type='submit' class=" bg-blue-400 hover:bg-blue-500 py-2 px-4 text-3xl w-40 border-4 border-black">update</button>
            </div>
           <!-- end of update -->

            <!-- delete -->
            <div class="m-5">
                <button type='submit' class=" bg-red-400 hover:bg-red-500 py-2 px-4 text-3xl w-40 border-4 border-black">delete</button>
            </div>
           <!-- end of delete -->

          
           
        </div>
        <!-- end of container -->
    </div>
</body>
</html>