<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Login 01</title>
</head>
<body>
   
        
        <!-- container -->
        <div class="container mx-auto sm:w-1/3 m-10 p-5 sm:p-10">
            <!-- login form -->
            <form action="#">   
                <div class="bg-gray-500 border-2 border-black p-10 rounded">
                    <!-- header -->
                    <div class="my-10 ">
                        <h1 class="text-3xl text-center">Login</h1>
                        <p class="text-center">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <!-- end of header -->
                    <hr>
                    <!-- email -->
                    <div class="my-10 text-center">
                        <label for="email" >Email</label>
                        <input 
                        type="email"
                        class="p-2 border-2 border-black rounded w-full"
                        placeholder="Enter email"
                        >
                    </div>
                    <!-- end of email -->

                    <!-- password -->
                    <div class="my-10 text-center">
                        <label for="password" >Password</label>
                        <input 
                        type="password"
                        class="p-2 border-2 border-black rounded w-full"
                        placeholder="Enter password"
                        >
                    </div>
                    <!-- end of password -->
                    <br>
                    <!-- submit -->
                    <div class="my-8 ">
                        <button class="w-full uppercase bg-cyan-500 my-10 p-2 border-2 border-black rounded hover:bg-red-300">login</button>
                    </div>
                    
                    
                    <!-- end of submit -->
                </div>
            </form>
           <!-- end of login form -->

            
           
        </div>
        <!-- end of container -->
    
</body>
</html>