<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Step 01</title>
</head>
<body>
   
        
        <!-- container -->
        <div class="container mx-auto  m-10 p-5 sm:p-10 bg-gray-900 ">
            <!-- card -->
                <div class="group inline-block mx-auto container">
                    <div class="text-white  text-xl rounded-xl p-2 text-center uppercase">your handshake domain is being transferred...</div>
                    <div class="bg-gray-200 rounded-xl p-2">
                        <div class="w-1/3  bg-blue-500 rounded-xl text-white text-center p-2 font-bold">33.33%</div>  
                    </div>
                        
                        <div class=" grid grid-cols-3  gap-0 text-sm ">
                                <div class="text-white ">
                                    <p class=" text-left uppercase">
                                    block: 137142 
                                    </p>
                                </div>

                                <div class=" "> 
                                    <p class="text-white text-center uppercase">
                                        block: 137282 
                                    </p>      
                                </div>

                                <div class="">
                                    <p class="text-white text-right uppercase">
                                    block: 137422
                                    </p> 
                                </div>
                        </div>
                        <div class=" grid grid-cols-3  gap-0 text-xl ">
                            <div class="text-white ">
                                <p class=" text-left uppercase">
                                    🟥
                                </p>
                            </div>

                            <div class=" "> 
                                <p class="text-white text-center uppercase">
                                    🟨
                                </p>      
                            </div>

                            <div class="">
                                <p class="text-white text-right uppercase">
                                    ✅
                                </p> 
                            </div>
                    </div>
                    <div class="text-white  text-xl rounded-xl p-2 text-center uppercase m-5">⏳ Estimated Time: ~2 Days</div>
                </div>
            <!-- end of card -->
        </div>
        <!-- end of container -->
    
</body>
</html>