<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product 01</title>
    <link rel="stylesheet" href="./../dist/output.css">
</head>
<body class=" bg-gray-200">
    <div>
        <div>
        <h1 class="text-3xl font-bold p-10 bg-gradient-to-r from-blue-500 to-gray-900 text-yellow-500 text-center">.yourdomain</h1>
        <span class="p-2 font-bold">Category: random</span>
        <span class="m-5 p-2 bg-yellow-500 font-bold rounded">Price: 500 $HNS</span>
        <p class="p-3 text-xl text-gray-900">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quia quam voluptatem quasi aperiam deserunt et delectus. Cum, velit iste fuga atque at esse eius. Cupiditate consequatur facilis nisi perferendis.</p>
        </div>
        
        <div class="flex justify-center">
            <button class="bg-green-500 uppercase p-2 w-max m-2 font-bold text-xl shadow-xl">Buy The SLD</button>
        </div>
    </div>
</body>
</html>