<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product 02</title>
    <link rel="stylesheet" href="../../dist/output.css">
</head>
<body class="bg-yellow-400">
    
        
        <!-- box -->
    <div class="pt-1 md:py-10 mx-auto md:w-2/5  ">
        <div style="background-image:url('../../components/product/images/box.svg')" alt="box" class="bg-fixed md:bg-local mx-auto bg-no-repeat py-12  px-5 font-bold  md:bg-center md:bg-cover">
            
            <h3 class="text-3xl uppercase text-center  text-gray-900 md:pt-8">.yourdomain/</h3> 
            <p class="text-sm md:text-2xl px-2 py-2 md:py-5 md:px-10 text-gray-800">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span class="text-red-500 font-bold uppercase text-2xl underline"> <a href="#">buy</a>  </span>
            </p> 
     
     </div>
    </div>
        

        <!-- end of box -->
    
</body>
</html>