<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Alert 03</title>
</head>
<body>
    <div class="container mx-auto m-10 p-10 bg-gray-100 ">
        <div class="font-bold text-center m-5 text-3xl">Alert 03</div>
        <!-- container -->
        <div class="container mx-auto sm:flex justify-center">
            <!-- Alert of publishing -->
            <div class="flex items-center justify-between p-5 rounded bg-green-300  sm:w-2/5 m-1">
                <strong class="text-xl font-medium">Post has been published!</strong>
                <button type="button" class="opacity-90">
                    <span class="sr-only">
                    Close
                    </span>
                    <svg
                    class="h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    >

                    <path 
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                    />

                    </svg>    
                </button>
            </div>
            <!-- End of Alert of publishing -->

            <!-- Alert of archiving -->
            <div class="flex items-center justify-between p-5 rounded bg-yellow-300   sm:w-2/5 m-1">
                <strong class="text-xl font-medium">Post has been archived!</strong>
                <button type="button" class="opacity-90">
                    <span class="sr-only">
                    Close
                    </span>
                    <svg
                    class="h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    >

                    <path 
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                    />

                    </svg>    
                </button>
            </div>
            <!-- End of Alert of archiving -->

            <!-- Alert of deleting -->
            <div class="flex items-center justify-between p-5 rounded bg-red-300   sm:w-2/5 m-1">
                <strong class="text-xl font-medium">Post has been deleted!</strong>
                <button type="button" class="opacity-90">
                    <span class="sr-only">
                    Close
                    </span>
                    <svg
                    class="h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    >

                    <path 
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                    />

                    </svg>    
                </button>
            </div>
            <!-- End odf Alert of deleting -->

            <!-- Alert of updating -->
            <div class="flex items-center justify-between p-5 rounded bg-blue-300  sm:w-2/5 m-1">
                <strong class="text-xl font-medium">Post has been updated!</strong>
                <button type="button" class="opacity-90">
                    <span class="sr-only">
                    Close
                    </span>
                    <svg
                    class="h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    >

                    <path 
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                    />

                    </svg>    
                </button>
            </div>
            <!-- End of Alert of updating -->
        </div>
        <!-- end of container -->
    </div>
</body>
</html>